.card {
  background-color: black;
  color: #f0e6d2;
  border-image: linear-gradient(#785a28, #c89b3c) 1;
  border-width: 3px;
  border-style: solid;
  transition: all 180ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  border-image: linear-gradient(to right, #785a28, #c89b3c) 1;
}

h2 {
  font-size: 1.1rem;
}