@font-face {
  font-family: Beaufort;
  src: url(./assets/BeaufortForLoL-OTF/font/Beaufort/BeaufortforLOL-Regular.otf);
}

body {
  font-family: Beaufort, Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(#091428, #0a1428);
  color: #f0e6d2;
}

header {
  display: flex;
  padding: 0 16px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header .intro {
  flex: 1;
}

header .scoreboard * {
  margin: 0;
}

.game-container {
  max-width: 1200px;
  margin: 24px auto;
  padding: 8px;
}